.onoffswitch {
  position: relative;
  width: 65px;
  user-select: none;
}
.onoffswitch-checkbox {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  height: 25px;
  padding: 0;
  line-height: 25px;
  border: 2px solid #e3e3e3;
  border-radius: 25px;
  background-color: #ffffff;
  transition: background-color 0.3s ease-in;
}
.onoffswitch-label:before {
  content: '';
  display: block;
  width: 25px;
  margin: 0px;
  background: #ffffff;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 38px;
  border: 2px solid #e3e3e3;
  border-radius: 25px;
  transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label {
  background-color: #557fdb;
}
.onoffswitch-checkbox:checked + .onoffswitch-label,
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
  border-color: #557fdb;
}
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
  right: 0px;
}

.container {
  display: flex;
  flex-direction: row;
  padding: 5px;
  background-color: #e8efff;
}

.left-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 600px;
  align-items: center;
}

.input-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.input-wrapper label {
  font-weight: bold;
  margin-right: 5px;
}

.spacer {
  flex: 1;
  justify-self: stretch;
  align-self: stretch;
}
